.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #1f2937;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
  gap: 30px; /* THIS FIXES CLOSENESS */
}

.nav-links a {
  color: #c7d2fe;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: white;
}