.navbar {
  background: #1e272e;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: white;
  margin: 0;
}

.links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}